.intro{height: 100vh;}
canvas{    position: absolute; left: 0; top: 0; z-index: -1;}
.contaeiner{max-width: 1120px; margin: 0 auto;}
.contaeiner-two{max-width: 1120px; margin: 0 auto;}
body{background-color: #000; color: #fff; }
body.over{overflow: hidden;}
/*! 헤더  */
.header{position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 100%; max-width: 1120px; margin: 0 auto;  z-index: 11;}
.nav-bar{display: flex; justify-content: space-between; align-items: center; padding: 20px;}
.nav-list{display: flex; align-items: center;}
.nav-item{padding:0 50px; font-weight: 700;font-size: 14px;line-height: 20px; cursor: pointer;}
/*!햄버거메뉴 */
.mb-header{display: flex; justify-content: space-between; position: relative; padding: 20px;}
.trigger{position: relative; display: none; height: 20px; width: 30px; cursor: pointer;}
/* .trigger.on span:nth-child(1){top: 50%; transform: rotate(45deg);}
.trigger.on span:nth-child(2){opacity: 0; }
.trigger.on span:nth-child(3){top: 50%;transform: rotate(-45deg);} */
.trigger span{position: absolute; width: 30px; height: 2px; background-color: #fff;left: 0; cursor: pointer; transition: 0.3s;visibility: visible; transform: translateY(-50%);}
.trigger span:nth-child(1){top: 0; }
.trigger span:nth-child(2){top: 50%; }
.trigger span:nth-child(3){top: 100%;}
.mb-nav-box{width: 100%; position: absolute; top:-100%; left: 50%; transform: translateX(-50%); background-color:#7D0DB2; transition: 0.3s;  border-radius: 0 0 20px 20px; z-index: 1;}
.mb-nav-box.show{top: 0; height: 50%;}
.mb-nav-box .nav-list{flex-direction: column; align-items: flex-start; }
.mb-nav-box .nav-item{font-size: 18px; margin:30px 0}
.menu-bg{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); display: none;}
.menu-bg.show{display: block;}
.menu-close{text-align: right;padding: 20px; cursor: pointer;}
/*!메인페이지   */
.intro{position: relative;}
.intro-box{display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; width: 100%;height: 100%;}
.pur-button{border: 1px solid #A600FF;border-radius: 50px; display: flex;flex-direction: row;justify-content: center;align-items: center;gap: 10px; transition: 0.3s; width: 216px;height: 45px; cursor: pointer;}
.pur-button:hover{background-color: #A600FF; }
.pur-button:hover > button{color:#D9D9D9;}
.intro-box > p{padding: 40px 0 80px 0;}
.pur-button button{border: none;outline: none; color:#A600FF; background-color: transparent; font-weight: 700; font-size: 17px; line-height: 25px;}
.scroll-down{position: absolute; bottom: 80px; left: 50%; transform: translateX(-50%);}  
.scroll-down > p {font-weight: 300; padding-bottom:7px; color: #fff; color: pu;}


/*! 메인 service */
.service{padding: 320px 20px 0 20px;}
.service-content{display: flex; justify-content: space-between; align-items: center;}
.service-left.service-right{width: 50%;}
.service-left > p,.business-box-left p{padding-top: 40px; font-size: 16px;}
.service-category-box{display: flex; flex-direction: column; justify-content: start; align-items: flex-start; text-align: left; padding-right: 40px; box-sizing: border-box;}
.service-category-box > h4 {font-size: 20px; line-height: 29px; font-weight: 400; margin:40px 0 20px 0;}
.service-category-box > p {font-size: 16px;}

.service-swiper{padding:120px 0 100px 0!important; box-sizing: border-box !important;}
.swiper-button-prev,
.swiper-button-next{top: 90% !important;  }
.swiper-button-prev{left:0 !important;}
.swiper-button-next{left: 64px !important;}
.swiper-button-next:after, .swiper-button-prev:after{content: "" !important;font-family: none !important;width: 20px !important;height: 20px !important;}
.swiper-button-next:after{background-image: url("../img/chevron-right.svg") !important;}
.swiper-button-prev:after{background-image: url("../img/chevron-left.svg") !important;}
  
  
  /*!메인 Business */
  .business{padding: 320px 20px 0 20px;}
  .business-box{display: flex; justify-content: space-between; align-items: center;}
  .business-box-left .pur-button{margin-top: 80px;}
  .business-box-left{width: 58%;}
  business-box-right{width: 42%;}
  .scroll-up{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);text-align: center;}
  #canvas{position: relative; height: 100%; max-height: 659px;}
  #canvas canvas{width: 100% !important;}
  /* #canvas canvas{ height: 1000px !important;} */
  /* #canvas canvas{height: 1000px;} */
  /*! 푸터   */
  .footer{max-width: 1120px; margin: 0 auto; display: flex; justify-content: space-between; padding: 50px 0;}
  footer-left,
  .footer-right{width: 50%;}
  .footer-right{display: flex; justify-content: space-between; opacity: 0.4; font-size: 13px; line-height: 13px;}

  
  
  /*! 어바웃 */
  .canvas-one-wrap{position: relative; max-height: 659px; height: 100%;}
  .canvas-one{ top: 50%;left: 50%; transform: translate(-50%, -50%); margin-top: 100px; background-image: url(../img/logo-purple.png);background-repeat: no-repeat;background-position: center}
  /* .contaeiner-two{padding-top: 320px;} */
  .overview{padding-top: 320px; text-align: center; }
  .overview > h3{font-weight: 700; font-size: 20px;}
  .our-values{text-align: center;}
  .our-values > h1{margin:80px 0 40px 0;}
  .overview > h1{margin:80px 0 40px 0}
  .our-values-list{display: flex; justify-content: space-between; padding-top: 120px;}
  .our-values-item{text-align: left;}
  .our-values-category {margin:20px 0 32px 0; font-size: 24px; font-weight: 600;}

  .advisor{padding-top: 480px;}
  .advisor > h2{margin: 80px 0 120px 0;}
  .member-info {padding:40px 40px 60px 40px; box-sizing: border-box;} 
  .advisor-member-list{    display: grid;grid-template-columns: repeat(3,1fr);gap: 40px; position: relative;}
  .advisor-member-item{background: #252525; border-radius: 20px;  cursor: pointer;}
  .member-name{font-size: 20px; font-weight: 700;}
  .member-info > div{display: flex; align-items: center; justify-content: space-between; margin-top: 5px;}
  .member-photo img{ width: 100%;}
  .more-button{    max-width: 216px;margin: 120px auto;}
  .advisor-member-item-more{display: none;}
  .advisor-member-item-more.show{display: block;}

  /*!서비스  */
  .service-platform-list{padding-top: 170px; box-sizing: border-box;}
  .platform-list{ display: grid;grid-template-columns: repeat(2,1fr);gap: 40px}
  .platform-item{ background: #101010; border: 0.5px solid rgba(235, 235, 235, 0.6); border-radius: 20px; padding:40px 40px 100px 40px; box-sizing: border-box;}
  .platform-con{line-height: 23px;}
  .platform-category{font-size: 32px; font-weight: 700; margin:27px 0;}
  .platform-list{padding: 0 20px; box-sizing: border-box;}
  .overview,.our-values,.advisor{padding: 320px 20px 0 20px; box-sizing: border-box;}
  .footer{padding: 20px; box-sizing: border-box;}

  /*!모달  */
  .advisor-modal{width: 70%; display: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  background-color: #2F2F2F;  z-index: 1; padding: 40px 60px;}
  .advisor-modal.show{display: block;}
  .modal-bg{display: none; background-color: rgba(0, 0, 0, 0.8); position: fixed;left: 0; top: 0; width: 100vw; height: 100vh;}
  .modal-bg.show{display: block;}

  .advisor-modal-box{display: flex;}
  .modal-close{position:absolute; top: 30px; right:40px;  z-index: 1;}
  .advisor-modal-con{display: flex; flex-direction: column; justify-content: space-between; margin-left: 40px;}
  .advisor-modal-con h4{font-size: 13px;}
  .advisor-modal-con h5{font-size: 20px; font-weight: 700;}
  .advisor-modal-con p{font-size: 14px; color:#8D8D8D ;}
  @media(max-width:765px){
    section h1 {font-size: 32px; line-height: 40px;}
    .overview,.our-values,.advisor{padding: 240px 20px 0 20px;}
    section{padding:0 20px}
    canvas{width: 100% !important;}
    .canvas{width: 100% !important;}
    #canvas{width: 100% !important;}
    #canvas canvas{width: 100% !important;}
    /*!헤더  */
    .trigger{display: block;}
    .header{display: none;}
    /*! 인덱스 */
    .business-box{flex-direction: column-reverse;justify-content: center;text-align: center;}
    .business-box-left{width: 100%;}
    .business-box-left .pur-button{margin:100px auto;}
    .business-box-left h2{padding-top:50px;}
    .service-content{flex-direction: column; justify-content: center; text-align: center;}
    .service-right .pur-button{margin:100px 0;}
    .service,.business{padding-top: 160px;}
    .scroll-down{bottom: 150px;}
    /*!서비스  */
    .platform-list{ grid-template-columns: repeat(1,1fr);gap: 40px}
    .platform-category{font-size: 24px;}
    /*!어바웃 */
    .our-values-list{flex-direction: column; }
    .our-values-item{margin:15px 0;}
    .advisor-member-list{grid-template-columns: repeat(1,1fr);gap: 40px}
    .advisor > h2{    margin: 40px 0 60px 0;}
    /*!푸터  */
    .footer{flex-direction: column; padding: 20px;}
    .footer-right{display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;}
    .footer-right P {margin:10px 0;}
    .footer-left{margin:10px 0;}
  }
