.splash-bg{width:100vw; height: 100vh; background-color: #000;}
.splash-logo{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}


.splash-bg{animation: hideSplashScreen 1s ease-in-out forwards; animation-delay: 3s;}


@keyframes hideSplashScreen {
    0%{
        
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
=