.intro{height: 100vh;}
canvas{    position: absolute; left: 0; top: 0; z-index: -1;}
.contaeiner{max-width: 1120px; margin: 0 auto;}
.contaeiner-two{max-width: 1120px; margin: 0 auto;}
body{background-color: #000; color: #fff;}
/*! 헤더  */
.header{position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 100%; max-width: 1120px; margin: 0 auto;  z-index: 11;}
.nav-bar{display: flex; justify-content: space-between; align-items: center; padding: 20px;}
.nav-list{display: flex; align-items: center;}
.nav-item{padding:0 50px; font-weight: 700;font-size: 14px;line-height: 20px; cursor: pointer;}
/*!메인페이지   */
.intro{position: relative;}
.intro-box{display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; width: 100%;height: 100%;}
.pur-button{border: 1px solid #A600FF;border-radius: 50px; display: flex;flex-direction: row;justify-content: center;align-items: center;gap: 10px; transition: 0.3s; width: 216px;height: 45px;}
.pur-button:hover{background-color: #A600FF; }
.pur-button:hover > button{color:#D9D9D9;}
.intro-box > p{padding: 40px 0 80px 0;}
.pur-button button{border: none;outline: none; color:#A600FF; background-color: transparent; font-weight: 700; font-size: 17px; line-height: 25px;}
.scroll-down{position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);}  
.scroll-down > p {font-weight: 300; padding-bottom:7px; color: #fff; color: pu;}


/*! 메인 service */
.service{padding-top: 320px;}
.service-content{display: flex; justify-content: space-between; align-items: center;}
.service-left.service-right{width: 50%;}
.service-left > p,.business-box-left p{padding-top: 40px; font-size: 16px;}
.service-category-box{display: flex; flex-direction: column; justify-content: start; align-items: flex-start; text-align: left; padding-right: 40px; box-sizing: border-box;}
.service-category-box > h4 {font-size: 20px; line-height: 29px; font-weight: 400; margin:40px 0 20px 0;}
.service-category-box > p {font-size: 16px;}

.service-swiper{padding:120px 0 100px 0!important; box-sizing: border-box !important;}
.swiper-button-prev,
.swiper-button-next{top: 90% !important;  }
.swiper-button-prev{left:0 !important;}
.swiper-button-next{left: 64px !important;}
.swiper-button-next:after, .swiper-button-prev:after{content: "" !important;font-family: none !important;width: 20px !important;height: 20px !important;}
.swiper-button-next:after{background-image: url("../img/chevron-right.svg") !important;}
.swiper-button-prev:after{background-image: url("../img/chevron-left.svg") !important;}
  
  
  /*!메인 Business */
  .business{padding-top: 370px;}
  .business-box{display: flex; justify-content: space-between; align-items: center;}
  .business-box-left .pur-button{margin-top: 80px;}
  .business-box-left{width: 58%;}
  business-box-right{width: 42%;}
  .scroll-up{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);text-align: center;}
  #canvas{position: relative; height: 100%; max-height: 659px;}
  /* #canvas canvas{ height: 1000px !important;} */
  /* #canvas canvas{height: 1000px;} */
  /*! 푸터   */
  .footer{max-width: 1120px; margin: 0 auto; display: flex; justify-content: space-between; padding: 50px 0;}
  footer-left,
  .footer-right{width: 50%;}
  .footer-right{display: flex; justify-content: space-between; opacity: 0.4; font-size: 13px; line-height: 13px;}

  
  
  /*! 어바웃 */
  .canvas-one-wrap{position: relative; max-height: 659px; height: 100%;}
  .canvas-one{ top: 50%;left: 50%; transform: translate(-50%, -50%); margin-top: 100px; background-image: url(../img/logo-purple.png);background-repeat: no-repeat;background-position: center}
  .contaeiner-two{padding-top: 320px;}
  .overview{padding-top: 320px; text-align: center; }
  .overview > h3{font-weight: 700; font-size: 20px;}
  .our-values{text-align: center;}
  .our-values > h1{margin:80px 0 40px 0;}
  .overview > h1{margin:80px 0 40px 0}
  .our-values-list{display: flex; justify-content: space-between; padding-top: 120px;}
  .our-values-item{text-align: left;}
  .our-values-category {margin:20px 0 32px 0; font-size: 24px; font-weight: 600;}

  .advisor{padding-top: 480px;}
  .advisor > h2{margin: 80px 0 120px 0;}
  .member-info {padding:40px 40px 60px 40px}